@import "node_modules/input-range-scss/_inputrange.scss";

input[type=range]{
  //width: 50%;
  margin: 0 auto;
}

.player-wrapper{
  width: min-content;
  margin: 0 auto;
}

#time{
  white-space: nowrap;
}